<h4>Pure HTML form</h4>
<form action="/posts" method="POST">
  Title: <input type="text" name="my_title">
  <br>
  <input type="submit" class='btn btn-primary'>
</form>

<h4>Rails form helpers</h4>
<%= form_tag '/posts' do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <br>
  <%= submit_tag "Create Post", class: 'btn btn-primary' %>
<% end %>
